In [5]:
name=input()
print ("welcome",name)

 eslam

welcome eslam

In [8]:
age=input("enter your age")

enter your age 39

In [9]:
print(age)

39

In [10]:
name=input()
city=input()

 eslam
 nasercity

In [17]:
print(name,"live in",city)

eslam live in nasercity

In [20]:
number=input(int)
number2=input(int)

<class 'int'> 50
<class 'int'> 100

In [26]:
print(number,",",number2)

50 , 100

In [27]:
name=input("enter your name")
age=input("enter your age")
college=input("enter the college")

enter your name eslam
enter your age 39
enter the college science

In [28]:
print(name,"has",age,"years old and studied at faculty of",college)

eslam has 39 years old and studied at faculty of science